GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:5005/api/auth/google/callback

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_CALLBACK_URL=http://localhost:5005/api/auth/facebook/callback

JWT_SECRET=
SESSION_SECRET=
CLIENT_URL=http://127.0.0.1:5174

MONGODB_URI=mongodb://localhost:27017/skincare
PORT=5005
NODE_ENV=development
